@import 'tailwindcss';

@plugin '@tailwindcss/typography';
@plugin '@tailwindcss/container-queries';
@plugin 'tailwindcss-animate';

@custom-variant dark (&:is(.dark *));

:root {
	--background: hsl(263 83% 94%);
	--foreground: hsl(224 71.4% 4.1%);
	--card: hsl(0 0% 100%);
	--card-foreground: hsl(224 71.4% 4.1%);
	--popover: hsl(0 0% 100%);
	--popover-foreground: hsl(224 71.4% 4.1%);
	--primary: hsl(263 83% 58%);
	--primary-foreground: hsl(210 20% 98%);
	--primary-foresoft: hsl(262.1 83.3% 38%);
	--secondary: hsl(220 14.3% 95.9%);
	--secondary-foreground: hsl(220.9 39.3% 11%);
	--muted: hsl(220 14.3% 95.9%);
	--muted-foreground: hsl(220 8.9% 46.1%);
	--accent: hsl(174.13 100% 41%);
	--accent-foreground: hsl(220.9 39.3% 11%);
	--destructive: hsl(0 84.2% 60.2%);
	--destructive-foreground: hsl(210 20% 98%);
	--border: hsl(263 37% 81%);
	--input: hsl(220 13% 91%);
	--ring: hsl(262.1 83.3% 57.8%);
	--chart-1: hsl(12 76% 61%);
	--chart-2: hsl(173 58% 39%);
	--chart-3: hsl(197 37% 24%);
	--chart-4: hsl(43 74% 66%);
	--chart-5: hsl(27 87% 67%);
	--sidebar-background: hsl(0 0% 98%);
	--sidebar-foreground: hsl(240 5.3% 26.1%);
	--sidebar-primary: hsl(240 5.9% 10%);
	--sidebar-primary-foreground: hsl(0 0% 98%);
	--sidebar-accent: hsl(240 4.8% 95.9%);
	--sidebar-accent-foreground: hsl(240 5.9% 10%);
	--sidebar-border: hsl(220 13% 91%);
	--sidebar-ring: hsl(217.2 91.2% 59.8%);
}

.dark {
	--background: hsl(263 83% 13%);
	--foreground: hsl(263 83% 88%);
	--card: hsl(224 71.4% 12.1%);
	--card-foreground: hsl(263 83% 88%);
	--popover: hsl(224 71.4% 4.1%);
	--popover-foreground: hsl(210 20% 98%);
	--primary: hsl(263.4 70% 50.4%);
	--primary-foreground: hsl(210 20% 98%);
	--primary-foresoft: hsl(263.4 70% 80%);
	--secondary: hsl(215 27.9% 16.9%);
	--secondary-foreground: hsl(210 20% 98%);
	--muted: hsl(215 27.9% 16.9%);
	--muted-foreground: hsl(217.9 10.6% 64.9%);
	--accent: hsl(174.13 92% 30%);
	--accent-foreground: hsl(210 20% 98%);
	--destructive: hsl(0 62.8% 30.6%);
	--destructive-foreground: hsl(210 20% 98%);
	--border: hsl(263 37% 37%);
	--input: hsl(215 27.9% 16.9%);
	--ring: hsl(263.4 70% 50.4%);
	--chart-1: hsl(220 70% 50%);
	--chart-2: hsl(160 60% 45%);
	--chart-3: hsl(30 80% 55%);
	--chart-4: hsl(280 65% 60%);
	--chart-5: hsl(340 75% 55%);
	--sidebar-background: hsl(240 5.9% 10%);
	--sidebar-foreground: hsl(240 4.8% 95.9%);
	--sidebar-primary: hsl(224.3 76.3% 48%);
	--sidebar-primary-foreground: hsl(0 0% 100%);
	--sidebar-accent: hsl(240 3.7% 15.9%);
	--sidebar-accent-foreground: hsl(240 4.8% 95.9%);
	--sidebar-border: hsl(240 3.7% 15.9%);
	--sidebar-ring: hsl(217.2 91.2% 59.8%);
}

@theme inline {
	--breakpoint-*: initial;
	--breakpoint-sm: 640px;
	--breakpoint-md: 768px;
	--breakpoint-lg: 1024px;

	--font-sans: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Helvetica Neue',
		Oxygen-Sans, Cantarell, sans-serif;

	--color-input: var(--input);
	--color-ring: var(--ring);
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--color-primary: var(--primary);
	--color-primary-foreground: var(--primary-foreground);
	--color-primary-foresoft: var(--primary-foresoft);
	--color-secondary: var(--secondary);
	--color-secondary-foreground: var(--secondary-foreground);
	--color-destructive: var(--destructive);
	--color-destructive-foreground: var(--destructive-foreground);
	--color-muted: var(--muted);
	--color-muted-foreground: var(--muted-foreground);
	--color-accent: var(--accent);
	--color-accent-foreground: var(--accent-foreground);
	--color-popover: var(--popover);
	--color-popover-foreground: var(--popover-foreground);
	--color-card: var(--card);
	--color-card-foreground: var(--card-foreground);
	--color-border: var(--border);

	--color-sidebar: var(--sidebar-background);
	--color-sidebar-foreground: var(--sidebar-foreground);
	--color-sidebar-primary: var(--sidebar-primary);
	--color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
	--color-sidebar-accent: var(--sidebar-accent);
	--color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
	--color-sidebar-border: var(--sidebar-border);
	--color-sidebar-ring: var(--sidebar-ring);

	--radius: 0.3rem;
	--radius-lg: var(--radius);
	--radius-md: calc(var(--radius) - 2px);
	--radius-sm: calc(var(--radius) - 4px);

	--animate-accordion-down: accordion-down 0.2s ease-out;
	--animate-accordion-up: accordion-up 0.2s ease-out;

	@keyframes accordion-down {
		from {
			height: 0;
		}
		to {
			height: var(--radix-accordion-content-height);
		}
	}
	@keyframes accordion-up {
		from {
			height: var(--radix-accordion-content-height);
		}
		to {
			height: 0;
		}
	}
}

@utility w-app {
	@apply mx-auto w-full max-w-[40rem];
}

@utility s-link {
	@apply decoration-primary-foresoft cursor-pointer underline decoration-dashed decoration-2 underline-offset-2 transition-all hover:decoration-2 hover:underline-offset-1;
}

/* @utility h1 {
  @apply my-4 text-3xl @xl:text-4xl @3xl:text-5xl @5xl:text-6xl; // font-display;
  & .sub {
    @apply text-lg @xl:text-xl @3xl:text-2xl;
  }
}
@utility sub {
  .h1 & {
    @apply text-lg @xl:text-xl @3xl:text-2xl;
  }
} */
@utility d1 {
	@apply my-4 text-4xl tracking-tight @xl:text-5xl @3xl:text-6xl @5xl:text-8xl; /* font-display;*/
}
@utility h2 {
	@apply my-4 text-2xl @3xl:text-3xl @5xl:text-4xl; /* font-display;*/
}
@utility d2 {
	@apply text-3xl @xl:text-4xl @3xl:text-5xl @5xl:text-6xl; /* font-display;*/
}
@utility h3 {
	@apply mt-1 mb-3 text-xl @3xl:text-2xl; /* font-display;*/
	& > p {
		@apply text-sm opacity-80 @3xl:text-base;
	}
}
@utility h4 {
	@apply my-2 text-lg @3xl:text-xl; /* font-display;*/
}
@utility h5 {
	@apply my-2 text-lg font-bold;
}

@layer base {
	body {
		padding-top: env(safe-area-inset-top);
		padding-bottom: env(safe-area-inset-bottom);
	}
}
@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
	}
}
